*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #DCDCDC;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
}

/******
Layout
*******/

#area-cabecalho{
	background-color: #FF4500;
	text-align: center;
	padding: 15px;
}

#area-logo,#area-menu{
	padding: 10px;
}

/******
Menu
*******/

#area-menu a{
	color: white;
	padding: 10px;
	text-decoration: none;
}

#area-menu a:hover{
	color: #FF4500;
	background-color: white;
}

#area-principal{
	width: 920px;
	margin: 0px auto;
}

#area-postagem{
	width: 660px; 
	float: left;
}

.postagens{
	background-color: white;
	padding: 20px;
	margin-bottom: 20px;
}

.postagens a{
	color: #FF4500;
	text-decoration: none;
}

.postagens a:hover{
	text-decoration: underline;
}

#area-lateral{
	width: 240px; 
	float: right;
}

.menu-lateral{
	background-color: white;
	margin-top: 15px; 
	padding: 20px;
}

/******
Geral
 ******/
 
 h1{
 	font-size: 2.5em;
 	color: white;
 }

 h2{
	color: #FF4500;
 }

 h3{
 	font-size: 1em;
	color: gray;
	padding: 5px;
	background-color: #DCDCDC;
 }

.data-postagem{
	font-size: 0.8em;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #DCDCDC;
	display: block;
}

 .cinza{
 	color: #DCDCDC;
 }